.titulo
{
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: lightcoral;
}

.boton
{
    width: 200px;
    height: 30px;
    background-color: lightcoral;
    font-size: medium;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid lightcoral;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    cursor: pointer;
}

.boton:hover{
    background-color: rgb(185, 72, 72);
    border: 2px solid rgb(185, 72, 72);
    color: whitesmoke;
}

#resultado
{
    color: rgb(137, 11, 36);
    font-size: medium;
    position: relative;
    top: 25px;
}