h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
    font-size: larger;
}

.B
{
    width: 800px;
    height: 90px;
    color: whitesmoke;
    background-color: sandybrown;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

div.D1
{
   position: relative;
   top: 100px;
   left: 300px;
}

div.D2
{
   position: relative;
   top: 120px;
   left: 300px;
}

div.D3
{
   position: relative;
   top: 150px;
   left: 300px;
}

div.D4
{
    position: relative;
    top: 180px;
    left: 300px;
}

div.D5
{
    position: relative;
    top: 200px;
    left: 300px;
}