body{
    text-align: center;
    color: azure;
    background-color: rgb(79, 81, 83);
}
h1{
    color: rgb(216, 228, 228);
    font-weight:normal;
    font-family:'Arial Narrow Bold', sans-serif;
}
h2, h3{
    font-family:sans-serif;
}
fieldset{
    border-color: azure;
    font-family:Calibri, 'Trebuchet MS', sans-serif
}
legend{
    font-family:sans-serif;
    text-align: left;
    font-weight: bold;
}
table{
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    text-align: left;
}